<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>一键排版</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='summernote/summernote-bs4.css') }}">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?087a62a87681143c15a84bdc8f609019";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 mb-3">
                <h1 style="text-align: center;">让我们荡起双桨！小船儿推开波浪</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <div class="form-group clearfix">
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="space" name="rule" value="space" checked="checked">
                                <label for="space">行首空格</label>
                            </div>
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="clear_a" name="rule" value="clear_a" checked="checked">
                                <label for="clear_a">清除链接</label>
                            </div>
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="image" name="rule" value="image" checked="checked">
                                <label for="image">图片居中</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="text-align: right;">
                        <!-- <button type="button" class="btn btn-secondary" id="paste-in">粘贴进来</button> -->
                        <button type="button" class="btn btn-secondary" id="one-format">一键排版</button>
                        <button type="button" class="btn btn-secondary" id="copy-out">复制出去</button>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div id="content"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert2/sweetalert2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='summernote/summernote-bs4.js') }}"></script>
    <script src="{{ url_for('static', filename='clipboard/clipboard-polyfill.min.js') }}"></script>
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        $(document).ready(function () {
            const ele = $('#content')
            ele.summernote({
                height: 600
            });

            $('#copy-out').click(function(){
                let item = new ClipboardItem({
                    "text/html": new Blob([ele.summernote('code')], {type: "text/html"}),
                    "text/plain": new Blob([ele.summernote('code')], {type: "text/plain"})
                })
                clipboard.write([item]).then(success => {
                    Toast.fire({
                        type: 'success',
                        title: '已拷贝至剪贴板'
                    })
                }, fail => {
                    alert('fail')
                })
            })

            $('#one-format').click(function () {
                let text = ele.summernote('code')
                let rule = []
                document.querySelectorAll('input[name="rule"]:checked').forEach(el => {
                    rule.push(el.value)
                })
                if (text.length < 10) {
                    Toast.fire({
                        type: 'info',
                        title: '无内容,不排版'
                    })
                    return;
                }
                fetch('{{ url_for("quick_format") }}', {
                    method: 'POST',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    }),
                    body: JSON.stringify({
                        'content': text,
                        'rule': rule
                    })
                }).then(response => response.json()).then(data => {
                    Toast.fire({
                        type: 'success',
                        title: '排版成功'
                    })
                    ele.summernote('code', data['content'])
                }).catch(error => {
                    Toast.fire({
                        type: 'error',
                        title: '系统出错'
                    })
                })
            })

        });
    </script>
</body>

</html>